body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    color: rgb(221, 50, 82);
    font-weight: 700px;
    
    
}
.name-color{
    color: rgb(77, 48, 133);
}
section{
    display: flex;
    margin-bottom: 100px;
    margin-right: 100px;
}
.both-section{
    width: 50%;
    padding: 5%;

    
}
.both-section img{ 
    width: 100%;
    border-radius: 20%;

}

.order-button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    border-radius: 25%;
    padding: 2%;
    
}
.both-section{
    width: 50%;
    padding: 5%;
    margin-right: 50px;
}
.both-section img{
    width: 120%;

}
.contact-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(88, 46, 136),rgb(23, 124, 172));
    border-radius: 25%;
    padding: 3%;}
    
    .about-section{
        display: flex;
        margin-bottom: 100px;
        
    background-image: url(images/shapes/7.png);
   }
   .our-services{
       text-align: center;
   }
   .Recipies-area{
       
   }
   
   
       

    
    