body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    color: rgb(221, 50, 82);
    font-weight: 700px;
    
    
}
.name-color{
    color: rgb(77, 48, 133);
}
section{
    display: flex;
}
.ist-section{
    width: 50%;
    padding: 5%;

    
}
.ist-section img{ 
    width: 100%;
    border-radius: 20%;

}

.order-button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    border-radius: 25%;
    padding: 2%;
}
.2nd-section{
    width: 50%;
    padding: 5%;
}
.2nd-section img{
    width: 100%;

}