body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    color: rgb(61, 3, 14);
    font-weight: 700px;
    
    
}
.name-color{
    color: rgb(88, 21, 212);
}
section{
    display: flex;
}
.ist-section{
    width: 50%;
    padding: 5%;

    
}
.ist-section img{ width: 100%;

}

.order-button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 15px 40px;
    border-radius: 25px;
    margin-top: 20px;    
    
}